@tailwind base;
@tailwind components;
@tailwind utilities;

@import './_font.css';

html {
  scroll-behavior: smooth;
}

h1 {
  @apply text-4xl font-bold;
}

h2 {
  @apply text-3xl font-bold;
}

h3 {
  @apply text-xl font-bold;
}

h4 {
  @apply text-lg font-bold;
}

h5 {
  @apply text-base font-bold;
}

h6 {
  @apply text-sm font-bold;
}

p,
span {
  @apply text-base;
}

a {
  @apply text-blue-600 hover:text-blue-700 hover:underline;
}

.rdrDefinedRangesWrapper {
  width: 150px !important;
}

.rdrInputRanges {
  display: none;
}
